:root {
    color-scheme: light dark;
    /* --title-color: -apple-system-control-accent;
    --subhead-color: green;
    --link-color: blue; */
}


/* Force a light theme here */

x
/* @media screen and (prefers-color-scheme: light) {
     :root {
        --title-color: #ffffff;
        --subhead-color: #80ff80;
        --link-color: #93d5ff;
    }
} */


/* Force a dark theme here */


/* @media screen and (prefers-color-scheme: dark) {
     :root {
        --title-color: #ffffff;
        --subhead-color: #80ff80;
        --link-color: #93d5ff;
    }
} */


/* some default styles to make the view more native like */

html {
    box-sizing: border-box;
    /* Prevent the page to be scrollable */
    overflow: hidden;
    /* Force the default cursor, even on text */
    cursor: default;
    padding: 8px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    /* Prevent the content from being selectionable */
    -webkit-user-select: none;
    user-select: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    background: #FFFFFF;
    border: 0 solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.20);
    border-radius: 12px;
}

header {
    padding: 40px 40px 28px 40px;
    width: 100%
}

h1 {
    font-size: 1.625rem;
    font-weight: 500;
}

footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 28px;
    padding: 20px;
    background-color: #F9F9F9;
    inset-inline-end: 0;
}

#container {
    margin: 0px 40px;
}

#container>div {
    margin-bottom: 14px;
}

input,
textarea,
select {
    -webkit-user-select: auto;
    user-select: auto;
}

button.primary {
    height: 48px;
    color: #ffffff;
    background-color: #FA6400;
    min-width: 120px;
    border: none;
    border-radius: 4px;
    padding: 0 22px;
    text-align: center;
}