:root {
    color-scheme: light dark;
    /* --title-color: -apple-system-control-accent;
    --subhead-color: green;
    --link-color: blue; */
}


/* Force a light theme here */


/* @media screen and (prefers-color-scheme: light) {
     :root {
        --title-color: #ffffff;
        --subhead-color: #80ff80;
        --link-color: #93d5ff;
    }
} */


/* Force a dark theme here */


/* @media screen and (prefers-color-scheme: dark) {
     :root {
        --title-color: #ffffff;
        --subhead-color: #80ff80;
        --link-color: #93d5ff;
    }
} */


/* some default styles to make the view more native like */

html {
    box-sizing: border-box;
    /* Prevent the page to be scrollable */
    overflow: hidden;
    /* Force the default cursor, even on text */
    cursor: default;
    padding: 8px;
    font: 100% system-ui;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    /* Prevent the content from being selectionable */
    -webkit-user-select: none;
    user-select: none;
}

form>div {
    margin: 24px auto;
}

input,
textarea,
select {
    -webkit-user-select: auto;
    user-select: auto;
}